body
{
    background-image: url('../bg.png');
}
#map-canvas
{
    height: 500px;
}
.alert
{
    width: 100%;
}
.container
{
    margin-top: 40px;
}

#SelectList
{
    margin-bottom: 80px;
}
#fbLogin
{
    margin-bottom:5px;
}

#tableBackground
{
    background-color:#FFD716;
    border-radius: 5px;
}
#viewerCanvas
{
    margin-left: auto;
    margin-right: auto;
    width: 6em
}